/*
From https://gist.github.com/eduardoboucas/84144cd85cbd2ad4db1ca8b902585ca0
 */
/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */
/*
 * Breakpoints
 * Example: @include media('<phone') { font-size: 20px }
 */
/*
 * COLORS
 */
/*
 * FONT STACKS
 */
/*
 * Common CSS animations and keyframes
 * Sources:
 * - https://easings.net/
 * - http://cubic-bezier.com
 * - https://matthewlein.com/tools/ceaser
 *
 */
@-webkit-keyframes shake {
  10%, 90% {
    transform: translateX(-1px); }
  20%, 80% {
    transform: translateX(2px); }
  30%, 50%, 70% {
    transform: translateX(-4px); }
  40%, 60% {
    transform: translateX(4px); } }
@keyframes shake {
  10%, 90% {
    transform: translateX(-1px); }
  20%, 80% {
    transform: translateX(2px); }
  30%, 50%, 70% {
    transform: translateX(-4px); }
  40%, 60% {
    transform: translateX(4px); } }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes slidein {
  0% {
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes slidein {
  0% {
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

::-moz-selection {
  background: rgba(245, 215, 124, 0.5);
  color: inherit;
  text-shadow: none; }

::selection {
  background: rgba(245, 215, 124, 0.5);
  color: inherit;
  text-shadow: none; }

::-moz-selection {
  background: rgba(245, 215, 124, 0.5);
  color: inherit;
  text-shadow: none; }

::-webkit-selection {
  background: rgba(245, 215, 124, 0.5);
  color: inherit;
  text-shadow: none; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

@font-face {
  font-family: 'Font-Name';
  src: url("../fonts/font-name.eot");
  src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name.woff") format("woff"), url("../fonts/font-name.ttf") format("truetype"), url("../fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
  background: #fff;
  color: #000;
  font-size: 16px;
  line-height: 1.3125;
  min-height: 100vh;
  font-family: "PT Sans", Roboto, Helvetica, sans-serif; }
  body.dark {
    background: #141414;
    color: #fff; }
    body.dark .header_logo img {
      -webkit-filter: invert(1);
              filter: invert(1); }
    body.dark .header, body.dark .main .nav, body.dark .compilation:not(:last-child) .compilation_body, body.dark .article_content, body.dark .article_socials, body.dark .compilation .item {
      border-bottom-color: #333333; }
    body.dark .btn-default {
      background: #333333;
      color: #fff; }
    body.dark .compilation--colored {
      color: #000; }
    body.dark .article_image {
      background: #333333; }
    body.dark .article_content figure img {
      background: #333333; }
    body.dark .article_views {
      border-color: #333333; }
    body.dark .item_image img {
      background: #333333; }
    body.dark .main .tag.current:after {
      -webkit-filter: invert(0.92);
              filter: invert(0.92); }
  body.light {
    background: #fff;
    color: #000; }
    body.light .header_logo img {
      -webkit-filter: invert(0);
              filter: invert(0); }
    body.light .header, body.light .main .nav, body.light .compilation:not(:last-child) .compilation_body, body.light .article_content, body.light .article_socials, body.light .compilation .item {
      border-bottom-color: #e0e0e0; }
    body.light .btn-default {
      background: #F2F2F2;
      color: #333333; }
    body.light .compilation--colored {
      color: #000; }
    body.light .article_image {
      background: #F2F2F2; }
    body.light .article_content figure img {
      background: #F2F2F2; }
    body.light .article_views {
      border-color: #333333; }
    body.light .item_image img {
      background: #F2F2F2; }
    body.light .main .tag.current:after {
      -webkit-filter: invert(0);
              filter: invert(0); }

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  pointer-events: none; }

picture {
  display: block; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.3125em; }

p {
  font-size: 1rem; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1.0625rem; }

h6 {
  font-size: 1rem; }

a {
  color: inherit; }
  a:hover, a:focus {
    text-decoration: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 80px);
  max-width: 1248px;
  margin: 0 auto; }

.btn {
  text-decoration: none;
  display: inline-block;
  background: transparent;
  color: inherit;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none; }
  .btn-default {
    border-radius: 48px;
    background: #F2F2F2;
    padding: 5px 12px;
    color: #333333;
    position: relative;
    overflow: hidden; }
    .btn-default:before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(0, 0, 0, 0.1);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0; }
    .btn-default:hover:before, .btn-default:focus:before {
      opacity: 1; }
    .btn-default.yellow {
      background: #F2C94C !important; }
    .btn-default.pink {
      background: #FFDDBF !important; }
    .btn-default.green {
      background: #27AE60 !important; }
    .btn-default.purple {
      background: #9B51E0 !important; }
    .btn-default.gray {
      background: #828282 !important; }
    .btn-default.blue {
      background: #2F80ED !important; }
    .btn-default.lightblue {
      background: #2D9CDB !important; }
    .btn-default.red {
      background: #EB5757 !important; }
    .btn-default.fb {
      background: #4865A8 !important; }
    .btn-default.tw {
      background: #4CA0EC !important; }
    .btn-default.vk {
      background: #5C81B4 !important; }
    .btn-default.color-white {
      color: #fff !important; }
    .btn-default.color-dark {
      color: #000 !important; }
  .btn-square {
    border-radius: 8px; }

.container {
  display: flex; }

.visually-hidden {
  color: transparent;
  background: transparent;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute; }

.header {
  justify-content: center;
  align-items: center;
  padding: 24px;
  border-bottom: 1px solid #e0e0e0; }
  .header_logo {
    height: 48px;
    transition: opacity .3s ease-in-out; }
    .header_logo img {
      height: 100%; }
    .header_logo:hover, .header_logo:focus {
      opacity: .8;
      transition: opacity .3s ease-in-out; }

.footer {
  padding: 24px 0;
  border-top: 1px solid #e0e0e0;
  margin-top: auto;
  flex-direction: row; }
  .footer_info {
    width: 62.5%; }
  .footer_nav {
    width: 37.5%;
    justify-content: flex-end;
    align-items: flex-start; }
    .footer_nav .nav_link {
      margin: 0 0 0 12px;
      white-space: nowrap; }

.main .nav {
  flex-direction: row;
  padding: 16px 0 4px;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .main .nav .tag {
    margin: 0 6px 12px; }

.main .tag {
  white-space: nowrap;
  padding: 5px 16px;
  line-height: 22px; }
  .main .tag.current {
    position: relative;
    display: flex; }
    .main .tag.current:after {
      content: '';
      display: block;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      margin: -3px -14px -3px 12px;
      background: url("../img/Subtract.svg") no-repeat center/100%; }

.compilation {
  padding: 72px 0 0; }
  .compilation_header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px; }
  .compilation_title {
    font-size: 32px;
    line-height: 41px;
    font-weight: normal;
    margin-bottom: 0; }
  .compilation .rate_btn {
    margin-left: 12px;
    line-height: 22px; }
    .compilation .rate_btn span {
      display: inline-block; }
  .compilation .rate_now {
    margin-left: 8px; }
  .compilation .rate_difference {
    margin-left: 8px;
    opacity: .5; }
    .compilation .rate_difference.green {
      color: #27AE60;
      opacity: 1; }
  .compilation_body {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-bottom: 24px; }
    .compilation_body .item {
      width: calc((100% - 120px) / 4);
      margin-bottom: 48px;
      margin-right: 40px; }
      .compilation_body .item:nth-of-type(4n) {
        margin-right: 0; }
  .compilation:not(:last-child) .compilation_body {
    border-bottom: 1px solid #e0e0e0; }
  .compilation .see_all.btn {
    line-height: 22px;
    background: rgba(0, 0, 0, 0.1) !important;
    color: inherit; }
  .compilation.yellow {
    background: #F2C94C !important; }
  .compilation.pink {
    background: #FFDDBF !important; }
  .compilation.green {
    background: #27AE60 !important; }
  .compilation.purple {
    background: #9B51E0 !important; }
  .compilation.gray {
    background: #828282 !important; }
  .compilation.blue {
    background: #2F80ED !important; }
  .compilation.lightblue {
    background: #2D9CDB !important; }
  .compilation.red {
    background: #EB5757 !important; }
  .compilation.color-white {
    color: #fff !important; }
  .compilation.color-dark {
    color: #000 !important; }
  .compilation--colored .compilation_body {
    border-bottom: none !important; }

.item_image {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  overflow: hidden; }
  .item_image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background: #F2F2F2;
    transition: transform .2s ease-in-out; }
  .item_image:hover img, .item_image:focus img {
    transform: scale(1.05);
    transition: transform .2s ease-in-out; }

.item_tags {
  width: 100%;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 4px; }
  .item_tags .tag {
    margin-right: 8px;
    margin-bottom: 8px;
    line-height: 22px; }
    .item_tags .tag:not(:first-child) {
      margin-left: 0; }

.item_title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px; }
  .item_title .btn {
    transition: -webkit-text-decoration .3s ease-in-out;
    transition: text-decoration .3s ease-in-out;
    transition: text-decoration .3s ease-in-out, -webkit-text-decoration .3s ease-in-out; }
    .item_title .btn:hover, .item_title .btn:focus {
      text-decoration: underline;
      transition: -webkit-text-decoration .3s ease-in-out;
      transition: text-decoration .3s ease-in-out;
      transition: text-decoration .3s ease-in-out, -webkit-text-decoration .3s ease-in-out; }

.item_data {
  font-size: 20px;
  opacity: .5;
  margin-bottom: 0; }

.more {
  padding: 24px 0 72px;
  justify-content: center;
  align-items: center; }
  .more_empty {
    margin-bottom: 0; }

.article {
  position: relative;
  height: 100vh;
  width: 100%;
  margin: 0 auto; }
  .article_image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    margin: 0;
    width: calc(100vh / 212 * 141);
    background: #F2F2F2; }
    .article_image-picture {
      width: 100%;
      height: 100%; }
      .article_image-picture img {
        height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .article_image-caption {
      position: absolute;
      z-index: 10;
      bottom: 0;
      left: 0;
      width: 100%;
      color: #fff;
      padding: 24px;
      opacity: .5; }
      .article_image-caption.dark {
        color: #000; }
  .article_body {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    left: 0;
    padding: 0 64px 50px calc(100vh / 212 * 141 + 64px); }
  .article .header {
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    border-bottom-color: transparent !important; }
    .article .header_logo {
      opacity: .25;
      margin-left: 0 !important; }
    .article .header .btn {
      margin-left: 12px; }
  .article_title {
    font-size: 32px;
    margin-bottom: 24px;
    padding-top: 56px;
    max-width: 840px;
    line-height: 41px; }
  .article_info-top {
    margin-bottom: 24px;
    flex-wrap: wrap; }
    .article_info-top .tag {
      margin-right: 8px;
      margin-bottom: 8px; }
  .article_info-bottom {
    padding: 16px 0;
    margin: 0;
    opacity: .5;
    font-size: 16px !important;
    line-height: 1.375; }
    .article_info-bottom span {
      display: inline-block; }
      .article_info-bottom span.divider {
        margin: 0 8px; }
  .article_views {
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 48px;
    padding: 4px 15px;
    margin-bottom: 8px; }
  .article_content {
    margin-bottom: 40px;
    border-bottom: 1px solid #e0e0e0; }
    .article_content p {
      line-height: 1.4;
      font-size: 20px; }
    .article_content h2, .article_content h3, .article_content h4, .article_content h5, .article_content h6 {
      padding: 24px 0;
      margin: 0; }
    .article_content h2 {
      font-size: 24px;
      line-height: 31px; }
    .article_content figure {
      margin: 0 0 40px;
      width: 100%; }
      .article_content figure img {
        width: 100%;
        background: #F2F2F2; }
      .article_content figure figcaption {
        opacity: .45;
        margin-top: 8px; }
    .article_content--inner {
      width: 85%;
      max-width: 720px; }
  .article_socials {
    padding: 0 0 40px;
    border-bottom: 1px solid #e0e0e0; }
    .article_socials .socials_title {
      margin-bottom: 24px;
      font-size: 24px; }
    .article_socials .socials_list {
      flex-wrap: wrap; }
      .article_socials .socials_list .btn {
        margin-right: 8px;
        margin-bottom: 8px; }

@media screen and (max-width: 1200px) and (orientation: landscape) {
  .article_content--inner {
    width: 100%; } }

@media screen and (max-width: 1024px) and (orientation: landscape) {
  .compilation_header {
    flex-wrap: wrap; }
  .article_image {
    width: 40%;
    max-width: 40%; }
  .article_body {
    padding: 0 48px 50px calc(100vh / 212 * 141 + 48px); }
  .article .header {
    width: 100%; }
  .footer {
    width: calc(100% - 32px);
    margin: 0 auto;
    padding: 24px 0;
    flex-direction: column-reverse; }
    .footer_info, .footer_nav {
      width: 100%;
      font-size: 75%; }
    .footer_nav {
      margin-bottom: 16px; } }

@media screen and (max-width: 1024px) and (orientation: portrait) {
  body {
    font-size: 18px; }
  .article_image {
    position: absolute;
    width: 100%;
    top: 96px;
    left: 0;
    max-height: 456px; }
    .article_image img {
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%; }
  .article_body {
    position: static; }
  .article_title {
    padding-top: 16px; }
  .wrapper {
    width: 100%; }
  .header {
    padding: 16px;
    width: calc(100% - 32px); }
    .header_logo {
      height: 32px; }
  .compilation {
    padding: 24px 0 0;
    width: calc(100% - 32px);
    margin: 0 auto; }
    .compilation:not(:last-child) {
      border-bottom: none; }
    .compilation--colored {
      width: 100%;
      padding: 24px 16px; }
      .compilation--colored .item {
        border-bottom-color: #4F4F4F; }
    .compilation_title {
      font-size: 24px;
      line-height: 31px; }
    .compilation_header {
      margin-bottom: 24px;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 0;
      padding-right: 0; }
      .compilation_header .btn {
        margin-left: auto;
        margin-top: 8px; }
    .compilation_body {
      padding-left: 0;
      padding-right: 0;
      border-bottom: none;
      padding-bottom: 0; }
    .compilation .item {
      width: 100%;
      position: relative;
      padding-left: calc(48px + 16px);
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 24px;
      padding-bottom: 24px;
      min-height: 97px;
      margin-right: 0; }
      .compilation .item_image {
        width: 48px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 8px;
        overflow: hidden;
        height: auto;
        padding-bottom: 0;
        margin-bottom: 0; }
      .compilation .item_title {
        font-size: 18px;
        line-height: 23px; }
      .compilation .item_data {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 0; }
      .compilation .item:last-child {
        margin-bottom: 0; }
  .more {
    padding: 24px 0 48px;
    width: calc(100% - 32px);
    margin: 0 auto;
    text-align: center; }
    .more .btn {
      font-size: 16px;
      line-height: 22px; }
  .footer {
    width: calc(100% - 32px);
    margin: 0 auto;
    padding: 24px 0;
    flex-direction: column-reverse; }
    .footer_info, .footer_nav {
      width: 100%;
      font-size: 75%; }
    .footer_nav {
      margin-bottom: 16px; }
  .article {
    padding: 0 16px; }
    .article .header {
      width: 100%;
      justify-content: center; }
      .article .header_logo {
        opacity: 1; }
      .article .header_close {
        display: none; }
    .article_body {
      padding: 0 0 24px;
      overflow-x: hidden; }
    .article_image {
      top: 64px; }
      .article_image-caption {
        font-size: 16px;
        padding: 16px; }
    .article_title {
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 8px; }
    .article_info-top {
      margin-bottom: 24px; }
    .article_info-bottom {
      font-size: 16px !important;
      line-height: 21px !important; }
    .article_views {
      padding: 0;
      border: none;
      margin: 0;
      opacity: .5;
      font-size: 18px;
      line-height: 23px; }
    .article_content {
      margin-bottom: 32px; }
      .article_content--inner {
        width: 100%;
        max-width: 100%; }
      .article_content p {
        font-size: 18px;
        line-height: 25px; }
      .article_content h2, .article_content h3, .article_content h4, .article_content h5, .article_content h6 {
        padding: 16px 0; }
      .article_content h2 {
        font-size: 20px;
        line-height: 26px; }
      .article_content figure {
        margin-bottom: 32px; }
        .article_content figure figcaption {
          font-size: 16px; }
    .article_socials {
      padding-bottom: 32px; }
      .article_socials .socials_title {
        padding-bottom: 16px;
        font-size: 20px;
        margin-bottom: 0; }
      .article_socials .socials_list {
        margin-left: -4px;
        width: calc(100% + 8px); }
        .article_socials .socials_list .btn {
          font-size: 16px;
          line-height: 22px;
          margin: 0 4px 8px; }
  .rate, .nav, .item_tags {
    display: none; }
  .article_info-top .tag {
    display: none; }
  .compilation--colored {
    display: none; } }

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background: #141414;
    color: #fff; }
    body .header_logo img {
      -webkit-filter: invert(1);
              filter: invert(1); }
    body .header, body .main .nav, body .compilation:not(:last-child) .compilation_body, body .article_content, body .article_socials, body .compilation .item {
      border-bottom-color: #333333; }
    body .btn-default {
      background: #333333;
      color: #fff; }
    body .compilation--colored {
      color: #000; }
      body .compilation--colored .see_all.btn {
        background: rgba(0, 0, 0, 0.1);
        color: #000; }
    body .article_image {
      background: #333333; }
    body .article_content figure img {
      background: #333333; }
    body .article_views {
      border-color: #333333; }
    body .item_image img {
      background: #333333; }
    body .main .tag.current:after {
      -webkit-filter: invert(0.92);
              filter: invert(0.92); } }
