/*
From https://gist.github.com/eduardoboucas/84144cd85cbd2ad4db1ca8b902585ca0
 */
/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. */
/*
 * Breakpoints
 * Example: @include media('<phone') { font-size: 20px }
 */
/*
 * COLORS
 */
/*
 * FONT STACKS
 */
/*
 * Common CSS animations and keyframes
 * Sources:
 * - https://easings.net/
 * - http://cubic-bezier.com
 * - https://matthewlein.com/tools/ceaser
 *
 */
@-webkit-keyframes shake {
  10%, 90% {
    transform: translateX(-1px); }
  20%, 80% {
    transform: translateX(2px); }
  30%, 50%, 70% {
    transform: translateX(-4px); }
  40%, 60% {
    transform: translateX(4px); } }
@keyframes shake {
  10%, 90% {
    transform: translateX(-1px); }
  20%, 80% {
    transform: translateX(2px); }
  30%, 50%, 70% {
    transform: translateX(-4px); }
  40%, 60% {
    transform: translateX(4px); } }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes slidein {
  0% {
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes slidein {
  0% {
    transform: translateX(-50px);
    opacity: 0; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

::-moz-selection {
  background: rgba(245, 215, 124, 0.5);
  color: inherit;
  text-shadow: none; }

::selection {
  background: rgba(245, 215, 124, 0.5);
  color: inherit;
  text-shadow: none; }

::-moz-selection {
  background: rgba(245, 215, 124, 0.5);
  color: inherit;
  text-shadow: none; }

::-webkit-selection {
  background: rgba(245, 215, 124, 0.5);
  color: inherit;
  text-shadow: none; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

@font-face {
  font-family: 'Font-Name';
  src: url("../fonts/font-name.eot");
  src: url("../fonts/font-name.eot?#iefix") format("embedded-opentype"), url("../fonts/font-name.woff") format("woff"), url("../fonts/font-name.ttf") format("truetype"), url("../fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 100vw;
  background: #fff;
  color: #000;
  font-size: 16px;
  line-height: 1.3;
  min-height: 100vh;
  font-family: "PT Sans", Roboto, Helvetica, sans-serif; }
  body.dark {
    background: #333333;
    color: #fff; }
    body.dark .wrapper {
      background: #141414; }
    body.dark .header_logo img {
      -webkit-filter: invert(1);
              filter: invert(1); }
    body.dark .header .menu, body.dark .header .language, body.dark .header .notification {
      background: #333333;
      color: #fff; }
      body.dark .header .menu_item:not(:last-child), body.dark .header .language_item:not(:last-child), body.dark .header .notification_item:not(:last-child) {
        border-bottom-color: #4F4F4F; }
      body.dark .header .menu_link:hover, body.dark .header .menu_link:focus, body.dark .header .language_link:hover, body.dark .header .language_link:focus, body.dark .header .notification_link:hover, body.dark .header .notification_link:focus {
        background: rgba(0, 0, 0, 0.1); }
    body.dark .header, body.dark .main .nav, body.dark .compilation:not(:last-child), body.dark .article_content, body.dark .article_socials, body.dark .compilation .item {
      border-bottom-color: #333333; }
    body.dark .btn-default {
      background: #333333;
      color: #fff; }
    body.dark .btn-icon img {
      -webkit-filter: invert(1);
              filter: invert(1); }
    body.dark .btn-icon:hover, body.dark .btn-icon:focus {
      background: #333333; }
    body.dark .compilation_subtitle {
      color: #F2F2F2; }
    body.dark .article_image {
      background: #333333; }
    body.dark .article_content figure img {
      background: #333333; }
    body.dark .article_views {
      border-color: #333333; }
    body.dark .item_image img {
      background: #333333; }
    body.dark .main .tag.current:after {
      -webkit-filter: invert(0.92);
              filter: invert(0.92); }
    body.dark .main .tag img {
      -webkit-filter: invert(1);
              filter: invert(1); }
    body.dark .tag {
      background: transparent; }
      body.dark .tag:before {
        background: rgba(255, 255, 255, 0.1); }
    body.dark .compilation .rate_btn {
      background: transparent;
      border-color: #333333; }
  body.light {
    background: #F2F2F2;
    color: #000; }
    body.light .wrapper {
      background: #fff; }
    body.light .btn-icon img {
      -webkit-filter: invert(0);
              filter: invert(0); }
    body.light .header_logo img {
      -webkit-filter: invert(0);
              filter: invert(0); }
    body.light .header .menu, body.light .header .language, body.light .header .notification {
      background: #fff;
      color: #000; }
      body.light .header .menu_item:not(:last-child), body.light .header .language_item:not(:last-child), body.light .header .notification_item:not(:last-child) {
        border-bottom-color: #e0e0e0; }
      body.light .header .menu_link:hover, body.light .header .menu_link:focus, body.light .header .language_link:hover, body.light .header .language_link:focus, body.light .header .notification_link:hover, body.light .header .notification_link:focus {
        background: rgba(0, 0, 0, 0.04); }
    body.light .header, body.light .main .nav, body.light .compilation:not(:last-child), body.light .article_content, body.light .article_socials, body.light .compilation .item {
      border-bottom-color: #e0e0e0; }
    body.light .btn-default {
      background: #F2F2F2;
      color: #333333; }
    body.light .btn-icon:hover, body.light .btn-icon:focus {
      background: #F2F2F2; }
    body.light .article_image {
      background: #F2F2F2; }
    body.light .article_content figure img {
      background: #F2F2F2; }
    body.light .article_views {
      border-color: #333333; }
    body.light .item_image img {
      background: #F2F2F2; }
    body.light .main .tag.current:after {
      -webkit-filter: invert(0);
              filter: invert(0); }
    body.light .main .tag img {
      -webkit-filter: invert(0);
              filter: invert(0); }
    body.light .tag {
      background: transparent; }
      body.light .tag:before {
        background: rgba(0, 0, 0, 0.05); }
    body.light .compilation .rate_btn {
      background: transparent;
      border-color: #e0e0e0; }
    body.light .compilation_subtitle {
      color: #333333; }

img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  pointer-events: none; }

picture {
  display: block; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.3125em; }

p {
  font-size: 1rem; }

h1 {
  font-size: 2rem; }

h2 {
  font-size: 1.5rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1.125rem; }

h5 {
  font-size: 1.0625rem; }

h6 {
  font-size: 1rem; }

a {
  color: inherit; }
  a:hover, a:focus {
    text-decoration: none; }

.wrapper {
  width: 100%;
  padding: 0 40px; }

.btn {
  text-decoration: none;
  display: inline-block;
  background: transparent;
  color: inherit;
  border: none;
  border-radius: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none; }
  .btn-default {
    border-radius: 48px;
    background: #F2F2F2;
    padding: 5px 12px;
    color: #333333;
    position: relative;
    overflow: hidden; }
    .btn-default:before {
      content: '';
      display: block;
      position: absolute;
      background: rgba(0, 0, 0, 0.05);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0; }
    .btn-default:hover:before, .btn-default:focus:before {
      opacity: 1; }
    .btn-default.yellow {
      background: #F2C94C !important; }
    .btn-default.pink {
      background: #FFDDBF !important; }
    .btn-default.green {
      background: #27AE60 !important; }
    .btn-default.purple {
      background: #9B51E0 !important; }
    .btn-default.gray {
      background: #828282 !important; }
    .btn-default.blue {
      background: #2F80ED !important; }
    .btn-default.lightblue {
      background: #2D9CDB !important; }
    .btn-default.red {
      background: #EB5757 !important; }
    .btn-default.fb {
      background: #4865A8 !important; }
    .btn-default.tw {
      background: #4CA0EC !important; }
    .btn-default.vk {
      background: #5C81B4 !important; }
    .btn-default.color-white {
      color: #fff !important; }
    .btn-default.color-dark {
      color: #000 !important; }
  .btn-square {
    border-radius: 8px; }
  .btn-icon {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    padding: 8px;
    background: transparent; }
    .btn-icon:hover, .btn-icon:focus {
      background: #F2F2F2; }

.container {
  display: flex; }

.visually-hidden {
  color: transparent;
  background: transparent;
  line-height: 0;
  font-size: 0;
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute; }

.header {
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 32px 40px;
  border-bottom: 1px solid #e0e0e0;
  flex-wrap: wrap; }
  .header_logo {
    height: 40px;
    transition: opacity .3s ease-in-out;
    margin-right: 16px; }
    .header_logo img {
      height: 100%; }
    .header_logo:hover, .header_logo:focus {
      opacity: .8;
      transition: opacity .3s ease-in-out; }
  .header_language, .header_menu, .header_notification {
    position: relative; }
    .header_language ul, .header_menu ul, .header_notification ul {
      padding: 0;
      margin: 0;
      list-style-type: none; }
    .header_language .btn-icon, .header_menu .btn-icon, .header_notification .btn-icon {
      margin-left: 8px; }
  .header .menu, .header .language, .header .notification {
    position: absolute;
    z-index: 100;
    top: calc(100% + 4px);
    background: #fff;
    color: #000;
    border-radius: 8px;
    overflow: hidden;
    width: 240px;
    height: auto;
    font-size: 16px;
    line-height: 22px;
    box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
    display: none;
    right: 0; }
    .header .menu_item, .header .language_item, .header .notification_item {
      width: 100%; }
      .header .menu_item:not(:last-child), .header .language_item:not(:last-child), .header .notification_item:not(:last-child) {
        border-bottom: 1px solid #e0e0e0; }
    .header .menu_link, .header .language_link, .header .notification_link {
      display: block;
      width: 100%;
      padding: 13px 16px;
      text-align: left; }
      .header .menu_link:hover, .header .menu_link:focus, .header .language_link:hover, .header .language_link:focus, .header .notification_link:hover, .header .notification_link:focus {
        background: rgba(0, 0, 0, 0.04); }
    .header .menu.open, .header .language.open, .header .notification.open {
      display: block; }
  .header .notification_empty {
    padding: 16px;
    opacity: .5;
    text-align: center;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px; }
  .header .notification_list {
    display: none; }
  .header .notification_item {
    padding: 13px 16px; }
  .header_functional {
    margin-left: 16px; }
  .header_tags {
    width: 50%;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    max-height: 34px;
    overflow-y: hidden; }
    .header_tags .tag {
      margin: 0 6px 0;
      display: inline-flex; }
      .header_tags .tag:first-child {
        margin-left: 0;
        background: #F2F2F2; }
      .header_tags .tag-wrapper {
        width: auto;
        display: inline-block;
        position: relative; }
      .header_tags .tag-button {
        white-space: nowrap;
        padding: 5px 16px;
        font-size: 18px;
        line-height: 24px;
        background: transparent;
        margin: 0 0 0 6px;
        display: flex;
        align-items: center; }
        .header_tags .tag-button img {
          margin: auto 0 auto 8px;
          width: 12px;
          height: 8px; }
      .header_tags .tag_list {
        position: absolute;
        top: calc(100% + 4px);
        right: 0;
        margin: 0;
        padding: 0;
        width: 240px;
        box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
        border-radius: 8px;
        overflow: hidden;
        background: #fff;
        z-index: 100;
        display: none; }
        .header_tags .tag_list.open {
          display: block; }
        .header_tags .tag_list .tag {
          width: 100%;
          border-radius: 0;
          margin: 0;
          padding: 13px 16px; }
          .header_tags .tag_list .tag:not(:last-of-type) {
            border-bottom: 1px solid #e0e0e0; }
  .header--article {
    padding: 16px 0;
    justify-content: space-between; }
    .header--article .header_logo {
      position: static;
      top: auto;
      left: auto;
      transform: none;
      height: 40px;
      margin-right: 16px;
      padding: 4px 0; }
    .header--article .header_close {
      background: transparent;
      padding: 10px 13px;
      margin-left: auto; }
      .header--article .header_close span {
        visibility: hidden;
        position: absolute;
        font-size: 0;
        line-height: 0; }
      .header--article .header_close .arrow {
        display: none; }

.tag {
  white-space: nowrap;
  padding: 5px 14px;
  font-size: 18px;
  line-height: 24px;
  background: transparent; }
  .tag.current {
    position: relative;
    display: block;
    padding-right: 44px; }
    .tag.current:after {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: 2px;
      transform: translateY(-50%);
      background: url("../img/Subtract.svg") no-repeat center/100%; }

.footer {
  padding: 40px 0;
  border-top: 1px solid #e0e0e0;
  margin-top: auto;
  flex-direction: row; }
  .footer_info {
    width: 62.5%;
    max-width: 640px; }
  .footer_logo {
    margin-bottom: 40px;
    height: 32px; }
  .footer_about {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 1em; }
  .footer_copyright {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 21px; }
  .footer_nav {
    width: 37.5%;
    max-width: 245px;
    flex-flow: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
    margin-bottom: -8px; }
    .footer_nav .nav_link {
      margin: 0 0 8px;
      white-space: nowrap;
      font-size: 16px;
      line-height: 22px;
      padding: 5px 12px; }

.compilation {
  padding: 28px 0 0; }
  .compilation_header {
    margin-bottom: 28px;
    align-items: baseline; }
  .compilation_title {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 23px; }
  .compilation_subtitle {
    margin-top: 2px;
    color: #333333;
    opacity: 0.5;
    font-size: 18px;
    line-height: 23px;
    margin-left: 16px;
    margin-bottom: 0; }
  .compilation .rate_btn {
    margin-left: 12px;
    line-height: 22px;
    font-size: 16px;
    padding: 4px 15px;
    background: transparent;
    border: 1px solid #F2F2F2;
    height: 32px; }
    .compilation .rate_btn.disable {
      cursor: default; }
      .compilation .rate_btn.disable:before {
        display: none; }
    .compilation .rate_btn span {
      display: inline-block; }
  .compilation .rate_now {
    margin-left: 8px; }
    .compilation .rate_now.green {
      color: #27AE60; }
    .compilation .rate_now.red {
      color: #EB5757; }
  .compilation_body {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -20px;
    width: calc(100% + 40px);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr)); }
    .compilation_body .item {
      padding: 0 20px 40px; }
      .compilation_body .item.wide {
        grid-column-start: auto;
        grid-column-end: span 2; }
        .compilation_body .item.wide .item_title {
          font-size: 24px;
          line-height: 31px; }
  .compilation:not(:last-child) {
    border-bottom: 1px solid #e0e0e0; }
  .compilation .see_all.btn {
    line-height: 22px;
    background: rgba(0, 0, 0, 0.1) !important;
    color: inherit; }
  .compilation.yellow {
    background: #F2C94C !important; }
  .compilation.pink {
    background: #FFDDBF !important; }
  .compilation.green {
    background: #27AE60 !important; }
  .compilation.purple {
    background: #9B51E0 !important; }
  .compilation.gray {
    background: #828282 !important; }
  .compilation.blue {
    background: #2F80ED !important; }
  .compilation.lightblue {
    background: #2D9CDB !important; }
  .compilation.red {
    background: #EB5757 !important; }
  .compilation.color-white {
    color: #fff !important; }
  .compilation.color-dark {
    color: #000 !important; }

.last {
  padding: 0 40px;
  border-bottom: 1px solid #e0e0e0; }
  .last .item {
    padding: 24px 40px;
    align-items: center;
    width: calc(100% / 3);
    text-decoration: none; }
    .last .item:not(:last-of-type) {
      border-right: 1px solid #e0e0e0; }
    .last .item:first-of-type {
      padding-left: 0; }
    .last .item:last-of-type {
      padding-right: 0; }
    .last .item_image {
      width: 64px;
      min-width: 64px;
      height: 64px;
      overflow: hidden;
      border-radius: 50%;
      margin: 0 16px 0 0; }
    .last .item_title {
      font-size: 18px;
      line-height: 23px;
      margin-bottom: 8px; }
    .last .item_data {
      font-size: 14px;
      line-height: 18px;
      opacity: 1; }
      .last .item_data span {
        opacity: .5; }
      .last .item_data mark {
        background: transparent;
        color: #DB0007; }
    .last .item:hover .item_image img, .last .item:focus .item_image img {
      transform: scale(1.05);
      transition: transform .2s ease-in-out; }
    .last .item:hover .item_title .btn, .last .item:focus .item_title .btn {
      text-decoration: underline; }
  .last + .compilation {
    padding-top: 40px; }

.item {
  position: relative; }
  .item_link {
    display: block;
    position: relative;
    z-index: 1; }
    .item_link:hover .item_image img, .item_link:focus .item_image img {
      transform: scale(1.05);
      transition: transform .2s ease-in-out; }
    .item_link:hover .item_title .btn, .item_link:focus .item_title .btn {
      text-decoration: underline;
      transition: -webkit-text-decoration .3s ease-in-out;
      transition: text-decoration .3s ease-in-out;
      transition: text-decoration .3s ease-in-out, -webkit-text-decoration .3s ease-in-out; }
  .item_image {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    overflow: hidden;
    height: 424px; }
    .item_image img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      background: #F2F2F2;
      transition: transform .2s ease-in-out; }
  .item_tags {
    max-width: calc(100% - 40px);
    width: auto;
    flex-flow: wrap-reverse;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    transform: translateY(-100%);
    padding: 0 8px 8px 16px;
    top: 424px;
    z-index: 10; }
    .item_tags .tag {
      margin-right: 8px;
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 18px;
      position: relative;
      z-index: 100; }
      .item_tags .tag:not(:first-child) {
        margin-left: 0; }
  .item_title {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    margin-bottom: 8px; }
    .item_title .btn {
      transition: -webkit-text-decoration .3s ease-in-out;
      transition: text-decoration .3s ease-in-out;
      transition: text-decoration .3s ease-in-out, -webkit-text-decoration .3s ease-in-out; }
  .item_data {
    font-size: 14px;
    line-height: 18px;
    opacity: .5;
    margin-bottom: 0; }

.more {
  padding: 40px 0;
  justify-content: center;
  align-items: center; }
  .more_empty {
    margin-bottom: 0; }

.article {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 80px calc(100% - 640px - 80px);
  display: flex;
  border-bottom: 1px solid #e0e0e0; }
  .article_image {
    position: absolute;
    top: 40px;
    left: 40px;
    overflow: hidden;
    margin: 0;
    width: auto;
    height: auto;
    max-height: calc(100vh - 80px); }
    .article_image-picture {
      width: 100%;
      height: 100%;
      max-height: 612px;
      background: #F2F2F2;
      overflow: hidden; }
      .article_image-picture img {
        height: 100%;
        max-height: 100%;
        width: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .article_image-caption {
      color: #fff; }
      .article_image-caption.dark {
        color: #000; }
      .article_image-caption p {
        border-bottom: 1px solid #e0e0e0;
        padding: 9px 0;
        margin: 0;
        font-size: 14px;
        line-height: 18px;
        opacity: .5;
        white-space: nowrap; }
  .article_body {
    padding: 0;
    width: 640px;
    max-width: 100%;
    margin: 0 auto; }
  .article_title {
    font-size: 32px;
    margin-bottom: 24px;
    line-height: 41px; }
  .article_info-top {
    margin-bottom: 16px;
    flex-wrap: wrap; }
    .article_info-top .btn {
      margin-bottom: 8px; }
      .article_info-top .btn:not(:last-child) {
        margin-right: 8px; }
  .article_info-bottom {
    padding: 16px 0;
    margin: 0;
    opacity: .5;
    font-size: 16px !important;
    line-height: 1.375; }
    .article_info-bottom span {
      display: inline-block; }
      .article_info-bottom span.divider {
        margin: 0 8px; }
  .article_views {
    display: inline-block;
    border: 1px solid #E0E0E0;
    border-radius: 48px;
    padding: 4px 15px;
    margin-bottom: 8px;
    line-height: 22px; }
  .article_content p {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 24px; }
  .article_content h2, .article_content h3, .article_content h4, .article_content h5, .article_content h6 {
    padding: 0 0 24px;
    margin: 0; }
  .article_content h2 {
    font-size: 24px;
    line-height: 31px; }
  .article_content figure {
    margin: 0 0 24px;
    width: 100%; }
    .article_content figure picture {
      width: 100%;
      background: #F2F2F2; }
      .article_content figure picture img {
        margin: 0 auto;
        height: 100%;
        width: auto; }
    .article_content figure figcaption p {
      border-bottom: 1px solid #e0e0e0;
      padding: 9px 0;
      margin: 0;
      opacity: .5;
      font-size: 14px;
      line-height: 18px; }
  .article_socials {
    padding: 0 0 40px;
    border-bottom: 1px solid #e0e0e0; }
    .article_socials .socials_title {
      margin-bottom: 24px;
      font-size: 24px; }
    .article_socials .socials_list {
      flex-wrap: wrap; }
      .article_socials .socials_list .btn {
        margin-right: 8px;
        margin-bottom: 8px; }
  .article_translation {
    overflow-x: hidden; }
    .article_translation .translation_header {
      border-bottom: 1px solid #e0e0e0;
      position: relative;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0; }
      .article_translation .translation_header .line {
        display: block;
        height: 1px;
        background: #DB0007;
        width: 320px;
        position: absolute;
        bottom: -1px;
        left: -320px; }
        .article_translation .translation_header .line.animated {
          -webkit-animation-name: line;
                  animation-name: line;
          -webkit-animation-timing-function: ease-in-out;
                  animation-timing-function: ease-in-out;
          -webkit-animation-iteration-count: infinite;
                  animation-iteration-count: infinite; }
    .article_translation .translation_title {
      margin-bottom: 0;
      align-items: center;
      color: #DB0007;
      font-size: 18px;
      line-height: 24px;
      font-weight: normal; }
      .article_translation .translation_title img {
        width: 20px;
        height: 19px;
        min-width: 20px;
        margin-right: 10px; }
    .article_translation .translation_renew {
      margin-bottom: 0;
      margin-left: 16px;
      font-size: 14px;
      line-height: 18px;
      opacity: .5; }
    .article_translation .translation_body .blockquote {
      border-top: none;
      margin-bottom: 0; }

.banner {
  padding: 40px 0;
  border-bottom: 1px solid #e0e0e0; }
  .banner_block {
    background: #828282;
    margin: 0 auto; }

.banners {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 24%;
  border-left: 1px solid #e0e0e0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .banners_wrapper {
    max-height: 100%; }
  .banners_container {
    flex-direction: column; }
  .banners_item {
    background: #F2F2F2; }
    .banners_item:not(:last-of-type) {
      margin-bottom: 6px; }
    .banners_item img {
      width: 100%;
      height: auto; }
  .banners + .content-wrapper {
    padding-right: 24%;
    padding-left: 0; }

.blockquote {
  margin: 0 0 24px;
  padding: 24px 0 12px;
  border: solid #e0e0e0;
  border-width: 1px 0 1px 0; }
  .blockquote_image {
    align-self: flex-start;
    width: 56px;
    min-width: 56px;
    height: 56px;
    border-radius: 50%;
    margin: 0 16px 0 0;
    overflow: hidden; }
    .blockquote_image img {
      height: 100%;
      width: auto; }
  .blockquote_body {
    font-size: 18px;
    line-height: 23px; }
    .blockquote_body p {
      margin-bottom: 16px; }
    .blockquote_body header cite {
      color: #205BF6;
      font-style: normal;
      display: block;
      margin-bottom: 2px; }
    .blockquote_body header p {
      opacity: .5;
      margin-bottom: 20px; }
    .blockquote_body footer {
      opacity: .5;
      padding-bottom: 12px; }

.info {
  padding: 56px 0; }
  .info_title {
    width: 100%;
    max-width: 640px;
    margin: 0 0 24px;
    font-size: 32px;
    line-height: 41px;
    font-weight: 400; }
  .info_body {
    width: 100%;
    max-width: 640px; }
    .info_body p {
      font-size: 20px;
      line-height: 28px;
      margin: 0 0 28px; }

@-webkit-keyframes line {
  0% {
    left: -100%; }
  100% {
    left: 100%; } }

@keyframes line {
  0% {
    left: -100%; }
  100% {
    left: 100%; } }

@media screen and (min-width: 1520px) {
  .compilation_body {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); } }

@media screen and (max-width: 1024px) and (orientation: portrait) {
  body {
    font-size: 18px; }
  .wrapper {
    padding: 0 16px; }
  .more {
    padding: 24px 16px; }
  .article {
    overflow-x: hidden; }
    .article_image {
      position: absolute;
      width: 100%;
      top: 96px;
      left: 0;
      max-height: 456px; }
      .article_image img {
        -o-object-fit: cover;
           object-fit: cover;
        width: 100%; }
    .article_body {
      position: static;
      width: 100%; }
    .article_title {
      padding-top: 16px; }
    .article .header {
      padding: 16px 0; }
      .article .header_logo {
        height: 32px; }
  .header {
    padding: 16px 0;
    margin: 0 16px;
    width: calc(100% - 32px);
    width: 100%;
    justify-content: center;
    padding: 24px 16px; }
    .header_logo {
      height: 24px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .header_functional {
      margin-left: 0;
      width: 100%;
      justify-content: space-between; }
      .header_functional .header_menu .menu {
        right: auto;
        left: 0; }
    .header_language {
      display: none; }
    .header .wrapper {
      padding: 0; }
    .header--article {
      padding: 24px 0;
      width: calc(100% - 32px); }
      .header--article .wrapper {
        padding: 0; }
      .header--article .header_logo {
        opacity: 1;
        margin: 0 auto;
        height: 24px; }
      .header--article .header_close {
        position: absolute;
        margin: 0;
        top: 50%;
        left: 0;
        padding: 12px;
        transform: translateY(-50%); }
        .header--article .header_close svg {
          display: none; }
          .header--article .header_close svg.arrow {
            display: block; }
  .compilation {
    padding: 24px 0 0;
    margin: 0 auto; }
    .compilation:not(:last-child) {
      border-bottom: none; }
    .compilation_title {
      font-size: 22px;
      line-height: 28px; }
    .compilation_subtitle {
      font-size: 18px;
      line-height: 23px; }
    .compilation_header {
      margin-bottom: 24px;
      padding-left: 0;
      padding-right: 0; }
      .compilation_header .btn {
        margin-left: auto;
        margin-top: 8px; }
    .compilation_body {
      padding-left: 0;
      padding-right: 0;
      border-bottom: none;
      padding-bottom: 0;
      width: 100%;
      margin: 0;
      display: block; }
    .compilation .item {
      width: 100%;
      position: relative;
      padding-left: calc(48px + 16px);
      border-bottom: 1px solid #e0e0e0;
      padding-bottom: 24px;
      min-height: 97px;
      margin: 0 0 24px; }
      .compilation .item.wide {
        width: 100%; }
        .compilation .item.wide .item_title {
          font-size: 18px;
          line-height: 23px; }
      .compilation .item_image {
        width: 48px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 8px;
        overflow: hidden;
        height: auto;
        padding-bottom: 0;
        margin-bottom: 0; }
      .compilation .item_title {
        font-size: 18px;
        line-height: 23px; }
      .compilation .item_data {
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 0; }
      .compilation .item:last-child {
        margin-bottom: 0; }
    .compilation .more {
      padding: 24px 0;
      margin: 0 auto;
      text-align: center; }
      .compilation .more .btn {
        font-size: 16px;
        line-height: 22px; }
  .footer {
    margin: 0 16px;
    padding: 24px 0 72px; }
    .footer .wrapper {
      flex-direction: column-reverse;
      padding: 0; }
    .footer_info, .footer_nav {
      width: 100%;
      font-size: 16px;
      line-height: 21px; }
    .footer_nav {
      margin-bottom: 16px;
      max-width: none;
      flex-flow: wrap;
      justify-content: flex-start; }
      .footer_nav .nav_link {
        margin-right: 8px; }
    .footer_logo {
      display: none; }
  .article {
    padding: 0 16px;
    margin-top: -1px;
    border-bottom: none; }
    .article .wrapper {
      padding: 0; }
    .article_image {
      position: static !important;
      width: calc(100% + 32px) !important;
      margin: 0 -16px; }
      .article_image-picture {
        height: 264px !important; }
      .article_image-caption {
        padding: 9px 16px 17px;
        font-size: 14px;
        line-height: 18px; }
    .article_title {
      margin-bottom: 16px;
      font-weight: bold;
      font-size: 22px;
      line-height: 28px; }
    .article_info-top {
      margin-bottom: 16px; }
    .article_info-bottom {
      font-size: 16px !important;
      line-height: 21px !important; }
    .article_views {
      padding: 0;
      border: none;
      margin: 0;
      opacity: .5;
      font-size: 18px;
      line-height: 23px; }
    .article_content {
      margin-bottom: 32px; }
      .article_content--inner {
        width: 100%;
        max-width: 100%; }
      .article_content p {
        font-size: 18px;
        line-height: 23px; }
      .article_content h2, .article_content h3, .article_content h4, .article_content h5, .article_content h6 {
        padding: 16px 0; }
      .article_content h2 {
        font-size: 20px;
        line-height: 26px; }
      .article_content figure {
        margin-bottom: 32px; }
        .article_content figure picture {
          width: calc(100% + 32px);
          margin: 0 -16px; }
        .article_content figure figcaption {
          font-size: 14px;
          line-height: 18px; }
    .article_socials {
      padding-bottom: 32px; }
      .article_socials .socials_title {
        padding-bottom: 16px;
        font-size: 20px;
        margin-bottom: 0; }
      .article_socials .socials_list {
        margin-left: -4px;
        width: calc(100% + 8px); }
        .article_socials .socials_list .btn {
          font-size: 16px;
          line-height: 22px;
          margin: 0 4px 8px; }
  .item_title, .item_subtitle {
    font-size: 18px;
    line-height: 23px; }
  .item.wide .item_title, .item.wide_subtitle {
    font-size: 18px;
    line-height: 23px; }
  .banners + .content-wrapper {
    padding-right: 0; }
  .blockquote_image {
    width: 48px;
    min-width: 48px;
    height: 48px; }
  .rate, .nav, .item_tags, .article_info-top .tag, .last, .banners, .article_translation .translation_renew {
    display: none; } }

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background: #141414;
    color: #fff; }
    body .header_logo img, body .footer_logo img {
      -webkit-filter: invert(1);
              filter: invert(1); }
    body .header .menu, body .header .language, body .header .notification {
      background: #333333;
      color: #fff; }
      body .header .menu_item:not(:last-child), body .header .language_item:not(:last-child), body .header .notification_item:not(:last-child) {
        border-bottom-color: #4F4F4F; }
      body .header .menu_link:hover, body .header .menu_link:focus, body .header .language_link:hover, body .header .language_link:focus, body .header .notification_link:hover, body .header .notification_link:focus {
        background: rgba(0, 0, 0, 0.1); }
    body .header--article .header_close svg {
      -webkit-filter: invert(1);
              filter: invert(1); }
    body .header, body .main .nav, body .compilation:not(:last-child), body .article_content, body .article_socials, body .compilation .item, body .banner, body .article, body .article_translation .translation_header, body .last {
      border-bottom-color: #333333; }
    body .header_tags .tag {
      background: transparent; }
      body .header_tags .tag:first-child {
        background: #333333; }
      body .header_tags .tag-button img {
        -webkit-filter: invert(1);
                filter: invert(1); }
      body .header_tags .tag_list {
        background: #333333; }
        body .header_tags .tag_list .tag {
          display: block;
          width: 100%;
          padding: 13px 16px;
          text-align: left;
          margin: 0; }
          body .header_tags .tag_list .tag:not(:last-of-type) {
            border-bottom-color: #4F4F4F; }
    body .last .item:not(:last-of-type) {
      border-right-color: #333333; }
    body .blockquote {
      border-color: #333333; }
    body .banners {
      border-left-color: #333333; }
    body .footer {
      border-top-color: #333333; }
    body .btn-default {
      background: #333333;
      color: #fff; }
    body .btn-icon img {
      -webkit-filter: invert(1);
              filter: invert(1); }
    body .btn-icon:hover, body .btn-icon:focus {
      background: #333333; }
    body .compilation .rate_btn {
      border-color: #333333; }
    body .compilation_subtitle {
      color: #F2F2F2; }
    body .article_image-picture {
      background: #333333; }
    body .article_content figure picture {
      background: #333333; }
    body .article_content figure img {
      background: #333333; }
    body .article_views {
      border-color: #333333; }
    body .item_image img {
      background: #333333; }
    body .main .tag.current:after {
      -webkit-filter: invert(0.92);
              filter: invert(0.92); }
    body .tag:before {
      background: rgba(255, 255, 255, 0.1); } }
